* {
  outline: red 1px solid;
}

body {
	background: black;
}

.main {
	background: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.ryu {
	float: left;
  width: 600px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool, .title-screen {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.title-screen {
  background-image: url('../images/streetfighter-logo.jpg');
  display: inline-block;
  width: 600px;
  height: 494px;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .title-screen {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: relative;
  top: 167px;
  left: -212px;
  float: left;
}

.instructions {
  float: right;
  margin-right: 200px;
  padding-top: 40px;
}

.instructions p {
  font-family: 'Kaushan Script', 'Comic Sans MS', helvetica, arial, sans-serif;
  font-size: 1.25em;
  margin-bottom: 20px;
  line-height: 1.25;
}